body{
    background: url(img/bretagne.webp);
    background-size: cover;
    background-position: center;
    color:white;
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    overflow-x: hidden;
    margin: 0;
}

header {
    background-color: #46576A;
    width: 100vw;
    display: flex;
    justify-content: space-between;
  }

header img{
    height: 30px;
}

.menu2{
    display: flex;

}

.menu2 p{
    margin: 0;
}

.sousmenu{
    width: calc(100%/7);
    height: 20px;
}
#bureau{
    background-color: #000;
}

#intranet{
    background-color: #65C97A;
}

#formation{
    background-color: #316F73;
}

#bibliotheque{
    background-color: #C45C24;
}

#vie{
    background-color: #5296D5;
}

#assistance{
    background-color: #303D4E;
}

#sos{
    background-color: #B14434;
}

.container{
    width: 90vw;
    height: 75vh;
    margin-left: 5%;
    margin-top: 50px;

    display: grid;
    grid-template-columns: 4fr 4fr 2fr;
    grid-template-rows: 4fr 2fr 2fr;
    gap: 20px;
}

.box{
    border-radius: 15px;
    background-color: white;
}

.edt{
    grid-column: 1/2;
    grid-row: 1/4;
}

.notes{
    grid-column: 2/3;
    grid-row: 2/4;
}

.mail{
    
    grid-column: 2/3;
    grid-row: 1/2;
    
}

.autre{
    grid-column: 3/4;
    grid-row: 1/4;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.soustheme{
    border-radius: 15px;
    background-color: white;
    margin-top: 10px;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 10px;
}

#moodle{
    grid-column: 1/2;
    grid-row: 1/2;
}

#bibli{
    grid-column: 2/3;
    grid-row: 1/2;
}

#office{
    grid-column: 1/2;
    grid-row: 2/3;
}

#zoom{
    grid-column: 2/3;
    grid-row: 2/3;
}

#document{
    grid-column: 1/2;
    grid-row: 3/4;
}

#dossier{
    grid-column: 2/3;
    grid-row: 3/4;
}

#annuaire{
    grid-column: 1/2;
    grid-row: 4/5;
}

#marquepage{
    grid-column: 2/3;
    grid-row: 4/5;
}