@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body{
    background: url(img/bretagne.webp);
    -webkit-backdrop-filter: blur(5px); 
    backdrop-filter: blur(5px);
    background-size: cover;
    background-position: center;
    color:white;
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

header{
    background-color: #46576A;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header p{
    color: white;
}

h3{
    color:white;
    text-align: center;
    font-weight: 400;
    background-color: #46576A;
    height: max-content;
    margin-top: 0;
    padding: 15px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

h4{
    color: #000;
    margin-left: 10px;
    font-weight: 400;
}

p{
    color: #000;
}

.bold{
    font-weight: bold;
    text-align: center;
}

.notif{
    margin-left: 20px;
    margin-right: 20px;
}

.logo{
    margin-left: 20px;
    height: 40px;
}

.icones_menu{
    margin-right: 20px;
}

header img{
    height: 30px;
}

.menu2{
    display: flex;
    background: rgba(74, 74, 74, 0.32);
    height: 100px;
    align-items: center;
}

.sousmenu p{
    margin: 0;
    color:white;
}

.sousmenu{
    margin-left: 20px;
    height: 20px;
}

.container{
    width: 90vw;
    height: 75vh;
    margin-left: 5%;
    margin-top: 50px;

    display: grid;
    grid-template-columns: 4fr 4fr 2fr;
    grid-template-rows: 3fr 3fr;
    gap: 20px;
}

.box{
    border-radius: 15px;
    background-color: #F2F2F2;
}

.edt{
    grid-column: 1/2;
    grid-row: 1/3;
    height: max-content;
}

.notes{
    grid-column: 2/3;
    grid-row: 2/3;
}

.mail{
    grid-column: 2/3;
    grid-row: 1/2;
}

.cont_ent{
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-rows: 1fr;
}

.cours{
    grid-column: 2/3;
    grid-row: 1/2;
}

.cour{
    border-radius: 15px;
    height: 55px;
    background-color: #C9EBA6;
    margin: 15px;
    display:flex;
    align-items: center;
    padding-left: 10px;
}

.deuxh{
    height: 90px;
}

.rose{
    background-color: #DDA6EB;
    margin-top: 25px;
}

.bleu{
    background-color: #A6E3EB;
}

.marge{
    margin-top: 40px;
    margin-bottom: 5px;
}

.bart{
    margin-top: 5px;
}

.temp{
    grid-column: 1/2;
    grid-row: 1/2;

    color:#000;
    margin-left: 20px;
}

.mailto{
    border-radius: 15px;
    height: 50px;
    border: #000 1px solid;
    margin: 15px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
}

.button{
    border-radius: 15px;
    height: 40px;
    background-color: #46576A;
    border: solid 1px white;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 100px;
    margin-left: 100px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.button:hover{
    background-color:black ;
    color:white;
}

.note{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
    padding-left: 10px;
}

.autre{
    grid-column: 3/4;
    grid-row: 1/4;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0.2fr 1fr 0.2fr 1fr 0.2fr 1fr 0.2fr;
}

.soustheme{
    border-radius: 15px;
    background-color: white;
    color: #000;
    margin-left: 5px;
    margin-right: 5px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.autre p{
    margin-top: 3px;
    margin-bottom: 3px;
    display:flex;
    align-items: center;
    justify-content: center;
    color: white;
}

#moodle{
    grid-column: 1/2;
    grid-row: 1/2;
}

.Moodle{
    grid-column: 1/2;
    grid-row: 2/3;
}

#bibli{
    grid-column: 2/3;
    grid-row: 1/2;
}

.Bibli{
    grid-column: 2/3;
    grid-row: 2/3;
}

#office{
    grid-column: 1/2;
    grid-row: 3/4;
}

.Office{
    grid-column: 1/2;
    grid-row: 4/5;
}

#zoom{
    grid-column: 2/3;
    grid-row: 3/4;
}

.Zoom{
    grid-column: 2/3;
    grid-row: 4/5;
}

#document{
    grid-column: 1/2;
    grid-row: 5/6;
}

.Document{
    grid-column: 1/2;
    grid-row: 6/7;
}

#dossier{
    grid-column: 2/3;
    grid-row: 5/6;
}

.Dossier{
    grid-column: 2/3;
    grid-row: 6/7;
}

#annuaire{
    grid-column: 1/2;
    grid-row: 7/8;
}

.Annuaire{
    grid-column: 1/2;
    grid-row: 8/9;
}

#marquepage{
    grid-column: 2/3;
    grid-row: 7/8;
}

.Marque-page{
    grid-column: 2/3;
    grid-row: 8/9;
}

.img50{
    width:50px;
}

.img10{
    width:10px;
}

.img15{
    width:15px;
}