body{
    background: url(img/bretagne.webp);
    -webkit-backdrop-filter: blur(5px); 
    backdrop-filter: blur(5px);
    background-size: cover;
    background-position: center;
    color:white;
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    overflow-x: hidden;
    margin: 0;
}

header{
    background-color: #46576A;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img{
    height: 30px;
}

.menu2{
    display: flex;

}

.menu2 p{
    margin: 0;
}

.sousmenu{
    width: calc(100%/7);
    height: 20px;
    text-align: center;
}
#bureau{
    background-color: #000;
}

#intranet{
    background-color: #65C97A;
}

#formation{
    background-color: #316F73;
}

#bibliotheque{
    background-color: #C45C24;
}

#vie{
    background-color: #5296D5;
}

#assistance{
    background-color: #303D4E;
}

#sos{
    background-color: #B14434;
}

.container{
    width: 90vw;
    height: 75vh;
    margin-left: 5%;
    margin-top: 50px;

    display: grid;
    grid-template-columns: 4fr 4fr 2fr;
    grid-template-rows: 4fr 2fr 2fr;
    gap: 20px;
}

.box{
    border-radius: 15px;
    background-color: white;
}

.edt{
    grid-column: 1/2;
    grid-row: 1/4;
}

.notes{
    grid-column: 2/3;
    grid-row: 2/4;
}

.mail{
    grid-column: 2/3;
    grid-row: 1/2;
}

.mailto{
    border-radius: 15px;
    height: 50px;
    background-color: #BACDF2;
    margin: 15px;
}

.button{
    border-radius: 15px;
    height: 40px;
    background-color: #F39797;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 100px;
    margin-left: 100px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.note{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
    padding-left: 10px;
}

.autre{
    grid-column: 3/4;
    grid-row: 1/4;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0.2fr 1fr 0.2fr 1fr 0.2fr 1fr 0.2fr;
}

.soustheme{
    border-radius: 15px;
    background-color: white;
    color: #000;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.autre p{
    margin-top: -7px;
    display:flex;
    align-items: center;
    justify-content: center;
}

#moodle{
    grid-column: 1/2;
    grid-row: 1/2;
}

.Moodle{
    grid-column: 1/2;
    grid-row: 2/3;
}

#bibli{
    grid-column: 2/3;
    grid-row: 1/2;
}

.Bibli{
    grid-column: 2/3;
    grid-row: 2/3;
}

#office{
    grid-column: 1/2;
    grid-row: 3/4;
}

.Office{
    grid-column: 1/2;
    grid-row: 4/5;
}

#zoom{
    grid-column: 2/3;
    grid-row: 3/4;
}

.Zoom{
    grid-column: 2/3;
    grid-row: 4/5;
}

#document{
    grid-column: 1/2;
    grid-row: 5/6;
}

.Document{
    grid-column: 1/2;
    grid-row: 6/7;
}

#dossier{
    grid-column: 2/3;
    grid-row: 5/6;
}

.Dossier{
    grid-column: 2/3;
    grid-row: 6/7;
}

#annuaire{
    grid-column: 1/2;
    grid-row: 7/8;
}

.Annuaire{
    grid-column: 1/2;
    grid-row: 8/9;
}

#marquepage{
    grid-column: 2/3;
    grid-row: 7/8;
}

.Marque-page{
    grid-column: 2/3;
    grid-row: 8/9;
}

.img50{
    width:50px;
}